// src/app/app.component.html
<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Retail Management System</h1>
    <span class="spacer"></span>
    <ng-container *ngIf="authService.currentUser$ | async as user">
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          <span>{{ user.first_name }} {{ user.last_name }}</span>
        </button>
        <button mat-menu-item (click)="authService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <mat-icon matListIcon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/inventory">
          <mat-icon matListIcon>inventory</mat-icon>
          <span>Inventory</span>
        </a>
        <a mat-list-item routerLink="/customers">
          <mat-icon matListIcon>people</mat-icon>
          <span>Customers</span>
        </a>
        <a mat-list-item routerLink="/employees">
          <mat-icon matListIcon>badge</mat-icon>
          <span>Employees</span>
        </a>
        <a mat-list-item routerLink="/sales">
          <mat-icon matListIcon>point_of_sale</mat-icon>
          <span>Sales</span>
        </a>
        <a mat-list-item routerLink="/returns">
          <mat-icon matListIcon>assignment_return</mat-icon>
          <span>Returns</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon matListIcon>assessment</mat-icon>
          <span>Reports</span>
        </a>
        <a mat-list-item routerLink="/promotions">
          <mat-icon matListIcon>local_offer</mat-icon>
          <span>Promotions</span>
        </a>
        <a mat-list-item routerLink="/suppliers">
          <mat-icon matListIcon>business</mat-icon>
          <span>Suppliers</span>
        </a>
        <a mat-list-item routerLink="/locations">
          <mat-icon matListIcon>store</mat-icon>
          <span>Locations</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
